<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
        <div class="container">

                <div class="jumbotron text-center">
                  <h1>Mission to Mars</h1>
                  <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
                </div>

                <div class="row" id="mars_facts">
                        <div class="col-md-12">
                                <div class="item news-item">
                                        <h3><a href="/news/nomenclature/name-approved-for-feature-on-ceres-lughnasa-tholus">Name Approved for Feature on Ceres: Lughnasa Tholus</a></h3>
                                        <span class="subtitle">30 November 2018</span>
                                        <p>The IAU Working Group for Planetary System Nomenclature has approved the name Lughnasa Tholus for a feature on Ceres. For more information, see the Ceres map in the Gazetteer of Planetary Nomenclature.&nbsp;</p>
                                </div>
                        </div>
                </div>
                  
        </div>
    
</body>
</html>